.chess-board {
    box-shadow: 0px 14px 120px rgba(0, 0, 0, 0.5);
    margin-left: 500px;
}
.str {
    border: hidden;
}

tr,td {
    padding: 30px;
  
}

.cell-num {
    font-size: 20px;
 
}
.cell-word {
    font-size: 20px;
    text-transform: uppercase;
    border: hidden;
   color: rgb(161, 123, 8);
   
}
.cell-word-num {
    background-color: black;
    
}
.cell-node {
    background-color: rgb(207, 118, 16);
    border: hidden;
}
.cell-even {
    border: hidden;
    background-color: bisque;
}
